# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de log o temporales
*.log
*.tmp
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de pruebas u ocultos
.env
.env.*
*.bak
